<p id="notice"><%= notice %></p>

<p>
  <strong>Organization ID:</strong>
  <%= @job_cast.organization_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job_cast.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_cast.description %>
</p>

<p>
  <strong>Compensation min:</strong>
  <%= @job_cast.compensation_min %>
</p>

<p>
  <strong>Compensation max:</strong>
  <%= @job_cast.compensation_max %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @job_cast.skills %>
</p>

<p>
  <strong>City:</strong>
  <%= @job_cast.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @job_cast.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @job_cast.postal_code %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @job_cast.country_code %>
</p>

<%= link_to 'Edit', edit_job_cast_path(@job_cast) %> |
<%= link_to 'Back', job_casts_path %>
